@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Sans&family=Nanum+Pen+Script&family=Patrick+Hand&family=Poppins:wght@400;500&family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(icons/bg2.jpg); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;   
    padding: 30px;    
}

.about {
    background: url(icons/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#contact {
    background: url(icons/bg4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-height: 500px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-top: 95px;

}

header {
    position: fixed;
    top: 30px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top:  1px solid rgba(255, 255, 255, 0.5);
    border-left:  1px solid rgba(255, 255, 255, 0.5);
    z-index: 5;
}

header .logo {
    color: #8a3425;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    font-family: 'Caveat', cursive;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin: 0 10px;
}

header ul li a{
    text-decoration: none;
    font-weight: 500;
    color: #8a2435;
    padding: 8px 15px;
    border-radius: 25px;
}

header ul li a:hover,
header ul li a:active{
    background: #fff;
    box-shadow:  0 5px 10px rgba(0, 0, 0, 0.5) ;

}

.content {
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top:  1px solid rgba(255, 255, 255, 0.5);
    border-left:  1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    padding-left: 200px;
}

.content h2 {
    font-size: 2.5em;
    color: #8a2435;
}

.content p {
    font-size: 16px;
    color: #8a2435;
}

.content a {
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: #8a2435;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.box .square {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right:  1px solid rgba(255, 255, 255, 0.2);
    border-bottom:  1px solid rgba(255, 255, 255, 0.2);
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

.box .square:nth-child(1){
    top: 90px;
    right: 80px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}

@keyframes animate {
    0%, 100%
    {
        transform: translateY(-40px);
    }
    50% 
    {
        transform: translateY(40px);
    }
}

.box .square:nth-child(2){
    top: 150px;
    right: 100px;
    width: 220px;
    height: 220px;
    border-radius: 20px;
    z-index: 2;
}

.container {
    position: relative;
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px 0;
}

.container .card {
    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 45%;
    margin: 30px 0;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

}

.container .card .imgBox {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease-in-out;
    padding: 10px;

}

.container .card:hover .imgBox {
    height: 150px;
    width: 150px;
    left: -95px;
    top: calc(50% - 75px);
}

.container .card .imgBox img {
    max-width: 100px;
    transition: 0.5s ease-in-out;
}

.container .card:hover .imgBox img {
    max-width: 75px;
    filter: invert(1);
}

.container .card .content {
    position: absolute;
    left: 150px;
    top: 20px;
    width: calc(100% - 85px);
    height: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .content h3 {
    color: rgb(255, 99, 190);
    margin-bottom: 5px;
    font-size: 24px;
}

.container .card  .content a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 5px;
    background: #88cdff;
    text-decoration: none;
    color: #fff;
}

footer {
    position: relative;
    bottom: 30px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top:  1px solid rgba(255, 255, 255, 0.5);
    border-left:  1px solid rgba(255, 255, 255, 0.5);
}